* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

.hero-image {
  position: relative; /* Set position to relative to make absolute positioning work */
  width: 100%;
  height: 100vh; /* Set height to viewport height */
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.hero-text {
  position: absolute;
  top: 51%; /* Position the text and button vertically centered */
  left: 50%; /* Position the text and button horizontally centered */
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 2; /* Ensure the text and button appear above the image */
}
h1{
  font-size: xxx-large;
}
p{
  margin-top: 20px;
  font-size: xx-large;
  margin-bottom: 3%;
}

/* GhostButton.css */


.ghost-button {
  background-color: transparent;
  border: 2px solid #ffffff; /* You can change the border color */
  color: #f5f5f5; /* You can change the text color */
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.ghost-button:hover {
  color: #161616; /* Change text color on hover */
  background-color: #ffffff; /* Change background color on hover */
}
