.card {
  max-width: 450px;
  margin: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Set position to relative */
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 20px;
  text-align: center; /* Center the content horizontally */
}

.card-title {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.card-text {
  height: 240px;
  font-size: 1.3em;
}

.card-button {
  position: absolute; /* Set position to absolute */
  bottom: 30px; /* Adjust bottom spacing */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  display: inline-block;
  padding: 10px 20px;
  background-color: #4fec7c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #4fdd77;
}
