.card {
    max-width: 450px;
    margin: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-body {
    padding: 20px;
    text-align: center; /* Center the content horizontally */
  }
  
  .card-title {
    font-size: 1.6em;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1.3em;
  }
  
  .card-button {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #B3ECC3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #92E3A9;
  }
  