.wrapper{
    margin-top: 110px;
    height: 500px;
    background-color: aliceblue;
    display: flex;
}
.text {
    padding: 2%;
    flex: 1;
    
  }

  .img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    max-height: 80%; /* Ensure the image does not exceed the container height */
  }
  
  
p{
    font-size: 25px;
}