.cardContainer {
    
    height: 100%;
    background-color:rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap; /* Ensure cards wrap to the next line if container width is not enough */
    justify-content:center /* Distribute cards evenly along the main axis */
  }
  
 
  
